name: Tests

on:
  push:
    paths:
      - '.github/workflows/test.yml'
      - 'src/**'
      - 'tests/**'
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - 'src/**'
      - 'tests/**'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: [ 3.7, 3.8, 3.9 ]

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Test with pytest
        run: |
          pip install .
          pytest --cov=inka --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.5.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: GitHub

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: mypy
        run: |
          pip install mypy
          mypy src/

      - name: flake8
        run: |
          pip install flake8
          flake8 src/ tests/

      - name: black
        uses: psf/black@stable
        with:
          args: ". --check"
